#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=Trojan
Comment=Trojan GTK Launcher
Categories=Network;Proxy;
Exec=bash -c "export PATH=$PATH:`dirname '%k'`; exec trojan-gtk.py"
Icon=applications-internet
Terminal=false
StartupNotify=true
Name[en_US]=trojan-gtk.desktop
